<html ng-app='carViewModule'>
<head>
    <title>Car Parts Status</title>

    <script src="./scripts/angularjs.min.js"></script>
    <script src="./scripts/bootstrap.js"></script>
 
    <script src="./scripts/Car_View.js"></script>
    <script src='./scripts/UtilityFunctions.js'></script>
  
    <link rel='stylesheet' href="./styles/bootstrap.css" />
    <link rel='stylesheet' href="./styles/Parts.css" />
</head>

<body ng-controller="carViewController">

    <table width='100%' align=center border=1 class='heading'>
        <tr>
            <th rowspan="2">
                <img ng-src='./images/{{ car.location }}.png' style="max-width: 75px; max-height: 75px">
            </th>
            <td width='10%'>
                <b>
                    {{ car.ro_num }}
                </b>
            </td>
            <th align='left'>
                {{ car.vehicle }}
            </th>
            <td align='left' width='5%'>
                Color:
            </td>
            <th align='left' width='15%'>
                {{ car.vehicle_color }}
            </th>
            <td align='right' width='5%'>
                Estimator:
            </td>
            <th align='left' width='15%'>
                &nbsp;{{ car.estimator }}
            </th>
            <td align='right' width='10%'>
                Vehicle In:
            </td>
            <th width='10%'>
                {{ car.vehicle_in }}
            </th>
        </tr>
        <tr>
            <th align='left'>
                {{ car.owner }}
            </th>
            <th align='left'>
                {{ car.insurance }}
            </th>
            <td align='left'>
                License:
            </td>
            <th align='left'>
                 {{ car.license_plate }}
            </th>
            <td align='right'>
                Technician:
            </td>
            <th align='left'>
                &nbsp;{{ car.technician }}
            </th>
            <td align='right'>
                Scheduled Out:
            </td>
            <th>
                {{ car.scheduled_out }}
            </th>
        </tr>
    </table>

    <br/>

    <table width='40%' border="1"align='center'>
    <thead>
        <tr>
            <td colspan='3' ng-click='showSublet = !showSublet' ng-class='BG_SubletsStatus(car.subletList);' align="center">
                <b>
                    S U B L E T S
                </b>
            </td>
        </tr>
        <tr ng-show='showSublet' class='lightBlue'>
            <td ng-hide='car.subletList.length == 0' align="center">
                <b>
                    Description
                </b>
            </td>
            <td ng-hide='car.subletList.length == 0' align="center">
                <b>
                    Done?
                </b>
            </td>
            <td ng-hide='car.subletList.length == 0' align="center">
                <b>
                    Company
                </b>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='sublet in car.subletList' ng-class='(sublet.received_quantity > 0) ? "lightGreen" : "redOnWhite"' ng-show='showSublet'>
            <th align='center'>
                {{ sublet.part_description }}
            </th>
            <th align='center'>
                {{ (sublet.received_quantity > 0) ? "&check;" : "&#x274c;" }}
            </th>
            <th align='center'>
                {{ sublet.vendor_name }}
            </th>
        </tr>
        <tr ng-show='car.subletList.length == 0'>
            <td colspan=2 align="center">
                <b>
                    No sublets required for this repair.
                </b>
            </td>
        </tr>
    </tbody>
    </table>

    <br/>

    <table width=100% align='center' id='carParts' class="table-hover">
        <thead>
        <tr>
            <td align='left'>
                <input type='button' value="Go Back" ng-click='GoBackToMainPage();'>
            </td>
            <td align='center' colspan='6'>
                Search: <input type='text' ng-model='searchText' />
                &nbsp;<input type='button' value='Clear' ng-click='searchText = ""'>
            </td>
        </tr>
        <tr>
            <td class='bottomBorderOnly' ng-click="SortParts('line_num');" align="center">
                <b>
                    Line
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('part_number');">
                <b>
                    Part Number
                </b>
            </td>
            <th class='bottomBorderOnly' ng-click="SortParts('part_description');">
                Part Description
            </th>
            <td class='bottomBorderOnly' ng-click="SortParts('part_status');" align="center">
                <b>
                    Part Status
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('vendor_name');" align="center">
                <b>
                    Vendor Name
                </b>
            </td>
            <th class='bottomBorderOnly' ng-click="SortParts('ro_quantity');">
                RO<br/>Qty
            </th>
            <td class='bottomBorderOnly' ng-click="SortParts('ordered_quantity');" align="center">
                <b>
                    Ordered<br/>Qty
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('ordered_quantity');" align="center">
                <b>
                    Order<br/>Date
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('expected_delivery');" align="center">
                <b>
                    Expected<br/>Delivery
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('received_quantity');" align="center">
                <b>
                    Receive<br/>Date
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('received_quantity');" align="center">
                <b>
                    Received<br/>Qty
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('returned_quantity');" align="center">
                <b>
                    Returned<br/>Qty
                </b>
            </td>
        </tr>
        <tr ng-show='car.partsList.length == 0'>
            <th colspan='12' class='lightgreen'>
                <br/>
                No parts required for this repair.
                <br/>
                <br/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='eachPart in car.partsList | orderBy: sortField | filter: searchText'
            class="{{ eachPart.part_status }}">
            <td align='center'>
                {{ eachPart.line_num }}
            </td>
            <td>
                <a href='http://www.google.com/search?tbm=isch&q={{ eachPart.part_number }}' target='CarPart' >
                    {{ eachPart.part_number }}
                </a>
            </td>
            <td align='left'>
                {{ eachPart.part_description }}
            </td>
            <td align='center'>
                {{ eachPart.part_status }}
            </td>
            <td align='center'>
                {{ eachPart.vendor_name }}
            </td>
            <td align='center'>
                {{ eachPart.ro_quantity }}
            </td>
            <td align='center'>
                {{ eachPart.ordered_quantity }}
            </td>
            <td align='center'>
                {{ eachPart.order_date }}
            </td>
            <td align='center'>
                {{ eachPart.expected_delivery }}
            </td>
            <td align='center'>
                {{ eachPart.invoice_date }}
            </td>
            <td align='center'>
                {{ eachPart.received_quantity }}
            </td>
            <td align='center'>
                {{ eachPart.returned_quantity }}
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>
