<html ng-app='carViewModule'>
<head>
    <title>Car Parts Status</title>

    <script src="./scripts/angularjs.min.js"></script>
    <script src="./scripts/bootstrap.js"></script>
 
    <script src="./scripts/Car_View.js"></script>
    <script src='./scripts/UtilityFunctions.js'></script>
  
    <link rel='stylesheet' href="./styles/bootstrap.css" />
    <link rel='stylesheet' href="./styles/Parts.css" />
</head>

<body ng-controller="carViewController" style="background-color: lightgrey;">

    <table width='100%' align=center border=1 class='heading' style="padding: 50px;">
        <tr>
            <th rowspan="2">
                <img ng-src='./images/{{ car.location }}.png' style="max-width: 75px; max-height: 75px">
            </th>
            <td width='10%' align="left">
                {{ car.ro_num }}
            </td>
            <td align='left'>
                {{ car.vehicle }}
            </td>
            <td align='center' width='5%'>
                <i><u>Color:</u></i>&nbsp;
            </td>
            <td align='left' width='15%'>
                {{ car.vehicle_color }}
            </td>
            <td align='center' width='5%'>
                <i><u>Estimator:</u></i>
            </td>
            <td align='left' width='15%'>
                &nbsp;{{ car.estimator }}
            </td>
            <td align='center' width='10%'>
                <i><u>Vehicle In:</u></i>
            </td>
            <td width='10%' align="left">
                {{ car.vehicle_in }}
            </td>
        </tr>
        <tr>
            <td align='left'>
                {{ car.owner }}
            </td>
            <td align='left'>
                {{ car.insurance }}
            </td>
            <td align='center'>
                <i><u>License:</u></i>&nbsp;
            </td>
            <td align='left'>
                 {{ car.license_plate }}
            </td>
            <td align='center'>
                <i><u>Technician:</u></i>
            </td>
            <td align='left'>
                &nbsp;{{ car.technician }}
            </td>
            <td align='center'>
                <i><u>Scheduled Out:</u></i>
            </td>
            <td align='left'>
                {{ car.scheduled_out }}
            </td>
        </tr>
    </table>

    <br/>

    <table width='30%' border="1"align='center' class="table-hover">
    <thead>
        <tr role="button">
            <td colspan='3' ng-click='showSublet = !showSublet' ng-class='BG_SubletsStatus(car.subletList);' align="center">
                <b>
                    S U B L E T S
                </b>
            </td>
        </tr>
        <tr ng-show='showSublet' class='heading'>
            <td ng-hide='car.subletList.length == 0' align="center">
                <b>
                    Description
                </b>
            </td>
            <td ng-hide='car.subletList.length == 0' align="center">
                <b>
                    Done?
                </b>
            </td>
            <td ng-hide='car.subletList.length == 0' align="center">
                <b>
                    Company
                </b>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='sublet in car.subletList' ng-class='(sublet.received_quantity > 0) ? "lightGreen" : "redOnWhite"' ng-show='showSublet'>
            <th align='center'>
                {{ sublet.part_description }}
            </th>
            <td align='center'>
                {{ (sublet.received_quantity > 0) ? "&check;" : "&#x274c;" }}
            </td>
            <th align='center'>
                {{ sublet.vendor_name }}
            </th>
        </tr>
        <tr ng-show='car.subletList.length == 0'>
            <td colspan=2 align="center">
                <b>
                    No sublets required for this repair.
                </b>
            </td>
        </tr>
    </tbody>
    </table>

    <br/>

    <table width='100%'' align='center' id='carParts' class="table-hover">
        <thead>
        <tr>
            <td align='left' colspan="2">
                <input type='button' value="Go Back" ng-click='GoBackToMainPage();' class="btn btn-danger">
            </td>
            <td align='center' colspan='6'>
                Search: <input type='text' ng-model='searchText' />
                &nbsp;<input type='button' value='Clear' ng-click='searchText = ""' class="btn btn-warning">
            </td>
        </tr>
        <tr>
            <td colspan="12"><br/></td>
        </tr>
        <tr class="heading">
            <td class='bottomBorderOnly' ng-click="SortParts('line_num');" align="center">
                <b>
                    Line
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('part_number');" align="left">
                <b>
                    Part Number
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('part_description');" align="left">
                <b>
                    Part Description
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('part_status');" align="center">
                <b>
                    Part Status
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('vendor_name');" align="center">
                <b>
                    Vendor Name
                </b>
            </td>
            <th class='bottomBorderOnly' ng-click="SortParts('ro_quantity');">
                RO<br/>Qty
            </th>
            <td class='bottomBorderOnly' ng-click="SortParts('ordered_quantity');" align="center">
                <b>
                    Ordered<br/>Qty
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('ordered_quantity');" align="center">
                <b>
                    Order<br/>Date
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('expected_delivery');" align="center">
                <b>
                    Expected<br/>Delivery
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('received_quantity');" align="center">
                <b>
                    Receive<br/>Date
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('received_quantity');" align="center">
                <b>
                    Received<br/>Qty
                </b>
            </td>
            <td class='bottomBorderOnly' ng-click="SortParts('returned_quantity');" align="center">
                <b>
                    Returned<br/>Qty
                </b>
            </td>
        </tr>
        <tr ng-show='car.partsList.length == 0'>
            <th colspan='12' class='lightgreen'>
                <br/>
                No parts required for this repair.
                <br/>
                <br/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='eachPart in car.partsList | orderBy: sortField | filter: searchText'
            class="{{ eachPart.part_status }}">
            <td align='center'>
                {{ eachPart.line_num }}
            </td>
            <td>
                <a href='http://www.google.com/search?tbm=isch&q={{ eachPart.part_number }}' target='CarPart' >
                    {{ eachPart.part_number }}
                </a>
            </td>
            <td align='left'>
                {{ eachPart.part_description }}
            </td>
            <td align='center'>
                {{ eachPart.part_status }}
            </td>
            <td align='center'>
                {{ eachPart.vendor_name }}
            </td>
            <td align='center'>
                {{ eachPart.ro_quantity }}
            </td>
            <td align='center'>
                {{ eachPart.ordered_quantity }}
            </td>
            <td align='center'>
                {{ eachPart.order_date }}
            </td>
            <td align='center'>
                {{ eachPart.expected_delivery }}
            </td>
            <td align='center'>
                {{ eachPart.invoice_date }}
            </td>
            <td align='center'>
                {{ eachPart.received_quantity }}
            </td>
            <td align='center'>
                {{ eachPart.returned_quantity }}
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>
