<div  ng-controller='DeliveriesController'>

    <table width='90%' align='center'>
        <caption>
            <b>Deliveries</b>
        </caption>
        <tr>
            <td>
                Delivered:
                <input type='radio' name='numDays' ng-click='Get_All_Cars(0);'>Today</input>
                <input type='radio' name='numDays' ng-click='Get_All_Cars(1);'>Yesterday</input>
                <input type='radio' name='numDays' ng-click='Get_All_Cars(365);' checked>Anytime</input>
            </td>
            <td>
                View by:
                <input type='radio' ng-model='viewBy' value='DeliveriesByCar.html' checked>Cars</input>
                <input type='radio' ng-model='viewBy' value='DeliveriesByVendor.html'>Vendors</input>
            </td>
            <td align='center'>
                Search: <input type='text' ng-model='searchText' />
                &nbsp;<input type='button' value='Clear' ng-click='searchText = ""'>
            </td>
            <td align='right'>
                <select ng-model='carsInOut'>
                    <option value='all' selected>
                        For All Cars
                    </option>
                    <option value='inShop'>
                        Cars in the Shop
                    </option>
                    <option value='preOrder'>
                        Pre-ordered Parts
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <div ng-include='viewBy'></div>
</div>
