<div  ng-controller='DeliveriesController'>

    <table width='90%' align='center'>
        <caption>
            <b>Deliveries</b>
        </caption>
        <tr>
            <td>
                <input type='radio' name='numDays' ng-click='Get_All_Cars(0);'>Today</input>
                <input type='radio' name='numDays' ng-click='Get_All_Cars(1);'>Yesterday</input>
                <input type='radio' name='numDays' ng-click='Get_All_Cars(365);' checked>Everything</input>
            </td>
            <td align='center'>
                Search: <input type='text' ng-model='searchText' />
                &nbsp;<input type='button' value='Clear' ng-click='searchText = ""'>
            </td>
            <td align='right'>
                <select ng-model='carsInOut'>
                    <option value='all' selected>
                        For All Cars
                    </option>
                    <option value='inShop'>
                        Cars in the Shop
                    </option>
                    <option value='preOrder'>
                        Pre-ordered Parts
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <table width='90%' align='center' border=1>
    <tr class='greenOnWhite'>
        <th width='15%'>
            Car
        </th>
        <th>
            <table border=1 width='100%'>
                <tr class='greenOnWhite'>
                    <th width='29%'>
                        Vendor
                    </th>
                    <th>
                        <table width='100%'>
                            <tr class='greenOnWhite'>
                                <th align='center' width='100%'>Part</th>
                            </tr>
                            <tr>
                                <td width='100%'>
                                    <table width='100%' border=1>
                                        <tr class='greenOnWhite'>
                                            <th width='50%'>Description</th>
                                            <th width='30%'>Number</th>
                                            <th width='5%'>Qty</th>
                                            <th>Date</th>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </table>
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </table>

    <table border='1' width='90%' align='center'>
        <tr ng-repeat='eachCar in allCars | filter: searchText | FilterInOutCars : carsInOut' ng-class='ToggleColor($index, "lightGreen", "white");'>
            <td align='center' width='15%'>
                    <table id='carTable'>
                        <tr>
                            <td align='center'>
                                <a href="Car_View.html?roNum={{ eachCar.ro_num }}" target="CarStatus">
                                    {{ eachCar.ro_num }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                {{ eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                    </table>
            </td>
            <td valign=top height='100%'>
                <table border=1 width=100% valign='top' height='100%'>
                    <tr ng-repeat='eachVendor in eachCar.vendors'  ng-class='ToggleColor($index, "white", "lightGreen");'>
                        <td align='center' width='20%'>
                            {{ eachVendor.name }}
                        </td>
                        <td height='100%' width='50%' >
                            <table border=1 width=100% height='100%'>
                                <tr ng-repeat='eachPart in eachVendor.parts'  ng-class='ToggleColor($index, "lightGreen", "white");'>
                                    <td width='50%'>
                                            {{ eachPart.part_description }}
                                    </td>
                                    <td width='30%' align='center'>
                                        <a href='http://www.google.com/search?tbm=isch&q={{ eachPart.part_number }}' target='CarPart' >
                                            {{ eachPart.part_number }}
                                        </a>
                                    </td>
                                    <td align='center' width='5%'>
                                        {{ eachPart.received_quantity }}
                                    </td>
                                    <td>
                                        {{ eachPart.invoice_date }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
