<!--html ng-app='DeliveriesApp'>
<head>
    <title>Deliveries</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/Deliveries.js'></script>
    <script src='./scripts/Filters.js'></script>
</head>
<body ng-controller='DeliveriesController' -->
<div  ng-controller='DeliveriesController'>

    <table width='90%' align='center'>
        <caption>
            <b>Deliveries</b>
        </caption>
        <tr>
            <td>
                <input type='button' value='Today' ng-click='numDays = 0;'/>
                <input type='number' ng-model='numDays' min='0' max='7' size=3/> days ago
                <input type='button' value='Everything' ng-click='numDays = 7;'>
            </td>
            <td align='center'>
                Search: <input type='text' ng-model='searchText' />
            </td>
            <td align='right'>
                <select ng-model='carsInOut'>
                    <option value='all' selected>
                        For All Cars
                    </option>
                    <option value='inShop'>
                        In-Shop Cars
                    </option>
                    <option value='preOrder'>
                        Pre-order Parts
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <table width='90%' align='center' border=1>
    <tr>
        <th width='15%'>Car</th>
        <th>
            <table border=1 width='100%'>
                <tr>
                    <th width='29%'>
                        Vendor
                    </th>
                    <th>
                        <table width='100%'>
                            <tr>
                                <th align='center' width='100%'>Part</th>
                            </tr>
                            <tr>
                                <td width='100%'>
                                    <table width='100%' border=1>
                                        <tr>
                                            <th width='50%'>Description</th>
                                            <th width='35%'>Number</th>
                                            <th>Qty</th>
                                            <th>Date</th>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </table>
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </table>

    <table border='1' width='90%' align='center'>
        <tr ng-repeat='eachCar in allCars | filter: searchText | FilterInOutCars : carsInOut'>
            <td align='center' width='15%'>
                    <table id='carTable'>
                        <tr>
                            <td align='center'>
                                <a href="Car_View.html?roNum={{ eachCar.ro_num }}" target="CarStatus">
                                    {{ eachCar.ro_num }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                {{ eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}
                            </td>
                        </tr>
                    </table>
            </td>
            <td valign=top height='100%'>
                <table border=1 width=100% valign='top' height='100%'>
                    <tr ng-repeat='eachVendor in eachCar.vendors' >
                        <td align='center' width='20%'>
                            {{ eachVendor.name }}
                        </td>
                        <td height='100%' width='50%' >
                            <table border=1 width=100% height='100%'>
                                <tr ng-repeat='eachPart in eachVendor.parts | GetDeliveriesByDay : numDays'>
                                    <td width='50%'>
                                            {{ eachPart.part_description }}
                                    </td>
                                    <td width='35%' align='center'>
                                        <a href='http://www.google.com/search?q={{ eachPart.part_number }}' target='CarPart' >
                                            {{ eachPart.part_number }}
                                        </a>
                                    </td>
                                    <td align='center'>
                                        {{ eachPart.received_quantity }}
                                    </td>
                                    <td>
                                        {{ eachPart.invoice_date }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
