
<table id='EstimatorCars' border=1 width='100%' ng-controller="EstimatorViewController" class="table table-bordered">

    <tr ng-repeat="eachEst in estimators | filter : { name : estim, location_ID : locationID }  | filter : searchText">
        <td align='center' ng-click='SortCars("status");'>
            <img ng-src="./images/{{ eachEst.name }}.jpg" style="max-width: 100px; max-height: 100px" alt="{{ eachCar.Estimator }}" />
            <br/>
            <b>
                {{ eachEst.name }}
            </b>
        </td>
        <td ng-repeat="eachCar in eachEst.cars | orderBy : sortCars | filter: searchText | FilterInOutCars : carsInOut | filter : { loc_ID : locationID }" height='100%' align='center'>
            <a href="Car_View.html?roNum={{ eachCar.ro_num }}&locationID={{ eachCar.loc_ID }}" target="CarStatus">
            <table width='150' height='100%' align="center" ng-class='CheckParts(eachCar);'>
                <tr>
                    <td align='center'>
                        <img ng-src='./images/{{ eachCar.location }}.png' style="max-width: 100px; max-height: 100px">
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        <b>
                            {{ eachCar.ro_num }}
                        </b>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        <b>
                            {{ eachCar.owner }}
                        </b>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        <u>
                            {{ eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}
                        </u>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        <i>
                            [ {{ eachCar.vehicle_color }} ]
                        </i>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        &nbsp;{{ eachCar.technician.split(' ')[0] }}
                    </td>
                </tr>
                <tr ng-show='eachCar.parts_percent == 100'>
                    <td align='center'>
                        <table align='center' border=1>
                        <tr>
                            <td align='center'>
                                All Parts In
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-show='eachCar.parts_percent < 100'>
                    <td valign='bottom'>
                        <table height='10' width='100%' border=1 valign='bottom'>
                        <tr>
                            <td class='noParts' align='center' width='25%' ng-show='eachCar.parts_unordered > 0'>
                                {{ eachCar.parts_unordered }}
                            </td>
                            <td class='waitingForParts' align='center' width='25%' ng-show='eachCar.parts_waiting > 0'>
                                {{ eachCar.parts_waiting }}
                            </td>
                            <td class='partsComplete' align='center' width='25%' ng-show='eachCar.parts_received > 0'>
                                {{ eachCar.parts_received }}
                            </td>
                            <td class='lightBlue' align='center' width='25%' ng-show='eachCar.parts_returned > 0'>
                                {{ eachCar.parts_returned }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        Due: {{ eachCar.scheduled_out }}
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        {{ eachCar.insurance.split(' ')[0] + " " + eachCar.insurance.split(' ')[1] }}
                    </td>
                </tr>
            </table>
            </a>
        </td>
    </tr>
</table>
