<div ng-controller='FollowUpController'>
    <br/>
    <table width='100%'>
    <tr>
        <td align="center">
            <h4><u>Filter by Vendor:</u></h4>
            <select ng-model='vendorName' class="form-select">
                <option value='' selected>
                    All Vendors
                </option>
                <option ng-repeat='vendor in vendorList | filter : { locID : locationID }' value='{{ vendor.name }}'>
                    {{ vendor.name }} (Shop {{ vendor.locID }})
                </option>
            </select>
        </td>
        <td align="center">
            <h4><u>Filter by Estimator:</u></h4>
            <select ng-model='estimatorName' class="form-select">
                <option value='' selected>
                    All Estimators
                </option>
                <option ng-repeat='estimator in estimatorList | filter : { locID : locationID }' value='{{ estimator.name }}'>
                    {{ estimator.name }} - {{ estimator.locID }}
                </option>
            </select>
        </td>
        <td align="center">
            <h4><u>Filter by Status:</u></h4>
            <select ng-model='partStatus' class="form-select">
                <option value='' default>
                    Any Status
                </option>
                <option value='ORDERED'>
                    ORDERED
                </option>
                <option value='NOT_ORDERED'>
                    NOT ORDERED
                </option>
            </select>
        </td>
            <td align='center' width='33%'>
                <b>Search:</b> <input type='text' ng-model='searchText' />
                &nbsp;<input type='button' value='Clear' ng-click='searchText = ""' class="btn btn-warning">
            </td>
        <td align='right'>
            <input type='radio' ng-model='carsInOut' value='all' selected>
                All Cars
            </input>
            <input type='radio' ng-model='carsInOut' value='inShop'>
                Cars In Shop
            </input>
            <input type='radio' ng-model='carsInOut' value='preOrder'>
                Pre-order
            </input>
        </td>
    </tr>
    </table>
    <br/>
    <table border='1' align='center' width='100%'>
    <tr class='platinum'>
        <th>VENDOR</th>
        <th>
            <table width='100%' border='1'>
                <tr>
                    <th colspan='8'>VEHICLE</th>
                </tr>
                <tr>
                    <th width='15.3%'>RO Info</th>
                    <th width='12.6%'>PART NO.</th>
                    <th width='8.5%'>TYPE</th>
                    <th width='29.5%'>DESCRIPTION</th>
                    <th width='12.6%'>STATUS</th>
                    <th width='4.2%'>QTY</th>
                    <th width='8.5%'>Order Date</th>
                    <th>ETA Date</th>
                </tr>
            </table>
        </th>
    </tr>
    <tr ng-repeat='eachVendor in vendors | filter: { name : vendorName, locID : locationID }'
        ng-show='filteredCars.length > 0'
        ng-hide='showHideVendor(partStatus, eachVendor.name)'
        ng-class='ToggleColor($index, "white", "lightGreen");'>

        <td width='15%' valign='top' align='center'>
            <table>
            <tr>
                <td align='center'>
                    (Shop {{ eachVendor.locID }})
                </td>
            </tr>
            <tr>
                <th>
                    {{ eachVendor.name }}
                </th>
            </tr>
            <tr ng-show='eachVendor.phoneNum.length > 0'>
                <td align='center'>
                    Phone: <b>{{ eachVendor.phoneNum }}</b>
                </td>
            </tr>
            <tr ng-show='eachVendor.email.length > 0'>
                <td align='center'>
                    Email:
                    <a href= "mailto:{{ eachVendor.email }}">
                        <b><i>
                        {{ eachVendor.email }}
                        </i></b>
                    </a>
                </td>
            </tr>
            </table>
        </td>
        <td bgcolor='white' class="thinBorders">
            <a href="Car_View.html?roNum={{ eachCar.roNum }}&locationID={{ eachCar.locID }}" target="CarStatus">
                <table border='1' width='100%'>
                <tr ng-repeat='eachCar in filteredCars = (eachVendor.cars | filter : searchText | filter : { estimator : estimatorName, locID : locationID } | FilterInOutCars : carsInOut)'
                    ng-class='ToggleColor($index, "white", "lightBlue");'
                    ng-show='filteredParts.length > 0'>
                    <td width='15%' align='center'>
                            <table align='center'>
                            <tr>
                                <td align='center'>
                                        <b>{{ eachCar.roNum }}</b>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td align='center'>
                                        <b>{{ eachCar.owner }}</b>
                                </td>
                            </tr>
                            <tr>
                                <td align='center'>
                                    {{ eachCar.vehicle.split(' ')[0] + " " + eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}
                                </td>
                            </tr>
                            <tr>
                                <td align='center'>
                                    {{ eachCar.estimator }}
                                    <br/><br/>
                                </td>
                            </tr>
                            <tr ng-show='eachCar.vin.length > 0'>
                                <td align='center'>
                                    VIN: <i>{{ eachCar.vin.slice(0,9) }}</i><b>{{ eachCar.vin.slice(9,17) }}</b>
                                </td>
                            </tr>
                            </table>
                    </td>
                    <td bgcolor='white'>
                        <table border='1' width='100%'>
                        <tr ng-repeat='eachPart in filteredParts = (eachCar.parts | filter : { part_status : partStatus } : true)'
                            class='{{ eachPart.part_status }}'>
                            <td width='15%' align='center'>
                                <a href='http://www.google.com/search?tbm=isch&q={{ eachPart.number }}' target='CarPart' >
                                    {{ eachPart.number }}
                                </a>
                            </td>
                            <td width='10%' align='center'>
                                {{ eachPart.type }}
                            </td>
                            <td width='35%'>
                                {{ eachPart.description }}
                            </td>
                            <td width='15%' align='center'>
                                {{ eachPart.part_status }}
                            </td>
                            <td width='5%' align='center'>
                                {{ eachPart.quantity }}
                            </td>
                            <td width='10%' align='center'>
                                {{ eachPart.order_date }}
                            </td>
                            <td width='10%' align='center'>
                                {{ eachPart.eta_date }}
                            </td>
                        </tr>
                        </table>
                </td>
            </tr>
            </table>
        </a>
        </td>
    </tr>
    </table>
</div>
