<html ng-app="SampleApp">
<head>
  <title>Sample Page</title>
  <script src="./scripts/angularjs.js"></script>
  <script src="./scripts/sample.js"></script>
  <script src="./scripts/UtilityFunctions.js"></script>
  <!-- Universal Style Sheet -->
  <link rel="stylesheet" href="./styles/Parts.css">
</head>
<body ng-controller='SampleController'>

    <table width='100%'>
    <tr>
        <td>
            Location:
            <select ng-model='locationID'>
                <option value='' selected>
                    All Locations
                </option>
                <option ng-repeat='eachShop in shopList' value='{{ eachShop.locID }}'>
                    {{ eachShop.name }} (Shop {{ eachShop.locID }})
                </option>
            </select>
        </td>
        <td>
            Vendor:
            <select ng-model='vendorName'>
                <option value='' selected>
                    All Vendors
                </option>
                <option ng-repeat='vendor in vendorList | filter : { locID : locationID }' value='{{ vendor.name }}'>
                    {{ vendor.name }} (Shop {{ vendor.locID }})
                </option>
            </select>
        </td>
        <td>
            Estimator:
            <select ng-model='estimatorName'>
                <option value='' selected>
                    All Estimators
                </option>
                <option ng-repeat='estimator in estimatorList | filter : { locID : locationID }' value='{{ estimator.name }}'>
                    {{ estimator.name }} - {{ estimator.locID }}
                </option>
            </select>
        </td>
        <td>
            Status:
            <select ng-model='partStatus'>
                <option value='' default>
                    Any Status
                </option>
                <option value='ORDERED'>
                    ORDERED
                </option>
                <option value='NOT ORDERED'>
                    NOT ORDERED
                </option>
            </select>
        </td>
        <td align='right'>
            <input type='radio' ng-model='carsInOut' value='all' selected>
                All Cars
            </input>
            <input type='radio' ng-model='carsInOut' value='inShop'>
                Cars In Shop
            </input>
            <input type='radio' ng-model='carsInOut' value='preOrder'>
                Pre-order
            </input>
        </td>
    </tr>
    </table>

    <table border='1' align='center' width='100%'>
    <tr>
        <th>Vendor</th>
        <th>Cars</th>
    </tr>
    <tr ng-repeat='eachVendor in vendors | filter: { name : vendorName, locID : locationID }'
        ng-show='filteredCars.length > 0'
        ng-hide='showHideVendor(partStatus, eachVendor.name)'>
        <td width='15%' valign='top' align='center'>
            (Shop {{ eachVendor.locID }})
            <br/>
            {{ eachVendor.name }}
            <br/>
            {{ eachVendor.phoneNum }}
            <br/>
            {{ eachVendor.email }}
        </td>
            <br/>
        <td>
            <table border='1' width='100%'>
            <tr ng-repeat='eachCar in filteredCars = (eachVendor.cars | filter : { estimator : estimatorName, locID : locationID })'
                ng-show='filteredParts.length > 0'>
                <td width='20%' align='center'>
                    <a href="Car_View.html?roNum={{ eachCar.roNum }}&locationID={{ eachCar.locID }}" target="CarStatus">
                        {{ eachCar.roNum }}
                        <br/>
                        {{ eachCar.vehicle.split(' ')[0] + " " + eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}
                        <br/>
                        {{ eachCar.estimator }}
                    </a>
                </td>
                <th>
                    <table border='1' width='100%'>
                    <tr ng-repeat='eachPart in filteredParts = (eachCar.parts | filter : { part_status : partStatus } : true)'
                        ng-class="PartStatus(eachPart)">
                        <td width='25%'>
                            <a href='http://www.google.com/search?tbm=isch&q={{ eachPart.number }}' target='CarPart' >
                                {{ eachPart.number }}
                            </a>
                        </td>
                        <td width='25%' align='center'>
                            {{ eachPart.type }}
                        </td>
                        <td width='25%'>
                            {{ eachPart.description }}
                        </td>
                        <td width='25%' align='center'>
                            {{ eachPart.part_status }}
                        </td>
                    </tr>
                    </table>
                </td>
            </tr>
            </table>
        </td>
    </tr>
    </table>
</body>
</html>
