<html ng-app='TabsApp'>
<head>

    <title>Parts Department</title>

    <!-- script src='./scripts/angularjs.js'></script-->
    <script src='./scripts/angularjs.min.js'></script>
    <script src='./scripts/bootstrap.js'></script>
 
    <script src='./scripts/index.js'></script>

    <script src='./scripts/Filters.js'></script>
    <script src='./scripts/UtilityFunctions.js'></script>

    <!-- Production Screen Controllers -->
    <script src='./scripts/Production.js'></script>
    <script src='./scripts/Estimator_View.js'></script>
    <script src='./scripts/Technician_View.js'></script>

    <script src='./scripts/Deliveries.js'></script>
    <script src='./scripts/DeliveriesByCar.js'></script>
    <script src='./scripts/DeliveriesByVendor.js'></script>

    <!-- Parts Search Screen Controller-->
    <script src='./scripts/Parts_Search.js'></script>

    <!-- Materials Ordering Page Controller-->
    <script src='./scripts/Order_Materials.js'></script>

    <!-- Unordered Parts Screen Controller-->
    <!-- script src='./scripts/Unordered_Parts.js'></script -->

    <script src="./scripts/Follow_Up.js"></script>

    <!-- REturn Forms Screen Controller-->
    <script src='./scripts/Return_Forms.js'></script>

    <!-- Paint List Screen Controller-->
    <script src='./scripts/Paint_List.js'></script>

    <!-- Vendors List Screen Controller-->
    <script src='./scripts/Vendors.js'></script>

    <!-- Universal Style Sheet -->
    <link rel="stylesheet" href="./styles/Parts.css">
    <link rel="stylesheet" href="./styles/bootstrap.css">

</head>
<body ng-controller='TabsController'>
    <table border='1' width='100%'>
        <tr>
            <td colspan="3" align='left'>
                Today's Date: {{ dateToday }}
            </td>
            <td align='center' colspan="2">
                Shop:
                <select ng-model='locationID'>
                    <option value=0 selected>All Locations</option>
                    <option ng-repeat='loc in locations' value='{{ loc.id }}'>{{ loc.location }}</option>
                </select>
            </td>
            <td colspan='3' align='right'>
                Data last updated:  {{ last_update }}
            </td>
        </tr>
        <tr role='button' class="p-2 border">
            <td ng-class='Tabs.Production' ng-click='PickTab("Production");' align="center" class="whiteBorders">
                <b>
                    Production
                </b>
            </td>
            <td ng-class='Tabs.Deliveries' ng-click='PickTab("Deliveries");' align="center" class="whiteBorders">
                <b>
                    Deliveries
                </b>
            </td>
            <td ng-class='Tabs.PartsSearch' ng-click='PickTab("PartsSearch");' align="center" class="whiteBorders">
                <b>
                    Parts Search
                </b>
            </td>
            <td ng-class='Tabs.Materials' ng-click='PickTab("Materials");' align="center" class="whiteBorders">
                <b>
                    Materials
                </b>
            </td>
            <td ng-class='Tabs.FollowUp' ng-click='PickTab("FollowUp");' align="center" class="whiteBorders">
                <b>
                    Follow-Up
                </b>
            </td>
            <td ng-class='Tabs.ReturnForms' ng-click='PickTab("ReturnForms");' align="center" class="whiteBorders">
                <b>
                    Return Forms
                </b>
            </td>
            <td ng-class='Tabs.PaintList' ng-click='PickTab("PaintList");' align="center" class="whiteBorders">
                <b>
                    Paint List
                </b>
            </td>
            <td ng-class='Tabs.Vendors' ng-click='PickTab("Vendors");' align="center" class="whiteBorders">
                <b>
                    Vendors
                </b>
            </td>
        </tr>
    </table>
    <div ng-include='tabView'></div>
</body>
</html>
