<html ng-app='OrderMaterialsApp'>
<head>
    <title>Order Materials</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/Order_Materials.js'></script>
</head>
<body ng-controller='OrderMaterialsController'>
<table id='tblMain'>
<tr>
    <td id='colTechs' colspan="2">
        Ordered by:
        <select ng-model='order.tech'>
            <option ng-repeat='eachTech in technicians' value='{{eachTech}}'>
                {{ eachTech }}
            </option>
        </select>
    </td>
</tr>
<tr ng-show='order.tech.length > 0'>
    <td id='materialsColumn'>
        <table id='tblMaterialsListTbl'>
        <tr ng-repeat='eachMat in materialsList' ng-click='eachMat.ordered = !eachMat.ordered'>
            <td>
                {{ eachMat.part_number }}
            </td>
            <td>
                {{ eachMat.description }}
            </td>
            <td>
                {{ eachMat.ordered }}
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</body>
</html>
