<table id='tblMain' width='100%' border='1' ng-controller='OrderMaterialsController'>
<tr>
    <td width='50%'>

        <table id='tblTechList'>
        <tr>
            <td id='colTechs' colspan="2">
                Order for:
                <select ng-model='technician'>
                    <option ng-repeat='eachTech in techList' value='{{eachTech}}'>
                        {{ eachTech }}
                    </option>
                </select>  <b style='color : red'>← Start Here</b>
            </td>
        </tr>
        <tr ng-show='technician.length > 0'>
            <td>
                <br/>
                Search: <input type='text' ng-model='searchText' placeholder="Enter any text"></input>
                <input type='button' ng-click='searchText = ""' value='Clear'>
            </td>
        </tr>
        </table>

        <br/>

        <table id='tblMaterialsListTbl' ng-show='technician.length > 0'>
        <tr>
            <td>
                <input type='button' value='New Item' ng-click='Add_New_Material();'/>
            </td>
        </tr>
        <tr>
            <th>Part Number</th>
            <th>Brand</th>
            <th>Description</th>
            <th>Qty</th>
            <th>Unit</th>
            <th>Ordered</th>
        </tr>
        <tr ng-repeat='eachMat in newMatList'>
            <td>
                <input type='text' ng-model='eachMat.part_number' />
            </td>
            <td>
                <input type='text' ng-model='eachMat.description' />
            </td>
            <td>
                <input type='number' min=0 max=20
                        ng-model='eachMat.ordered_qty'
                        ng-change='CheckOrder(eachMat);'>
            </td>
            <td>
                <input type='text' ng-model='eachMat.unit' />
            </td>
            <td align='center'>
                {{ CheckIfOrdered(eachMat.ordered_qty); }}
            </td>
        </tr>
        <tr ng-repeat='eachMat in materialsList | filter: searchText' ng-class='ToggleColor($index, "white", "lightBlue");'>
            <td>
                <a href='http://www.google.com/search?tbm=isch&q="{{ eachMat.brand }} {{ eachMat.part_number }}"' target='_blank'>
                    {{ eachMat.part_number }}
                </a>
            </td>
            <td align='center'>
                {{ eachMat.brand }}
            </td>
            <td>
                {{ eachMat.description }}
            </td>
            <td>
                <input type='number' min=0 max=20
                        ng-model='eachMat.ordered_qty'
                        ng-change='CheckOrder(eachMat);'>
            </td>
            <td align='center'>
                {{ eachMat.unit }}
            </td>
            <td align='center'>
                {{ CheckIfOrdered(eachMat.ordered_qty); }}
            </td>
        </tr>
        </table>
    </td>
    <td width='50%' align='center' valign='top'>
        <table id='tblOrderList' ng-show='technician.length > 0' border='1' width='80%' class=''>
        <tr>
            <th>
                Qty
            </th>
            <th>
                Unit
            </th>
            <th>
                Part No.
            </th>
            <th>
                Brand
            </th>
            <th>
                Description
            </th>
            <th>
                Received
            </th>
        </tr>
        <tr ng-repeat='eachItem in ordersList'  ng-class='ToggleColor($index, "active", "inactive");'>
            <td align='center'>
                {{ eachItem.ordered_qty }}
            </td>
            <td align='center'>
                {{ eachItem.unit }}
            </td>
            <td align='center'>
                {{ eachItem.part_number }}
            </td>
            <td align='center'>
                {{ eachItem.brand }}
            </td>
            <td align='center'>
                {{ eachItem.description }}
            </td>
            <td align='center'>
                <input type='checkbox' ng-model='eachItem.received' />
            </td>
        </tr>
        </table>

        <table align='center' ng-show='ordersList.length > 0'>
        <tr>
            <td align='center'>
                <input type='submit' value='Submit Request' ng-click='SubmitOrder();'/>
            </td>
        </tr>
        </table>

    </td>
</tr>
</table>
