<html ng-app='PaintListApp'>
<head>
    <title>Production - Paint List</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/Paint_List.js'></script>
    <link rel='stylesheet' href="./styles/Parts.css">
</head>
<body ng-controller='PaintListController'>
    <table align='center' ngRtClick='alert("Right Click");'>
        <tr>
            <th>
                <h1>Paint List</h1>
            </th>
        </tr>
    </table>
    Search: <input type='text' ng-model='searchText' /> <input type='button' value='Clear' ng-click='searchText = ""' />
    <br/>
    <input type=button value='Save List' ng-click='SavePaintList();' ng-show='paintList.length > 0'/>
    &nbsp;&nbsp;
    <input type=button value='Clear List' ng-click='ClearPaintList();' ng-show='paintList.length > 0'/>
    <br/>
    <table id='MainTable' border=1>
        <tr>
            <td align=center>
                <table id='TechList' border=1>
                    <tr>
                        <th width='150'>
                            <br/>
                            Sergio's
                            <br/>
                            Priority
                            <br/>
                            List
                            <br/>
                            <br/>
                        </th>
                        <td ng-repeat='eachCar in paintList'>
                            <table width='150' height='100%' ng-dblclick='DeleteFromPaintList(eachCar, $index);' ng-click='ChangeStatus(eachCar);' ng-class='eachCar.status'>
                                <tr>
                                    <td align='center'>{{ eachCar.car.ro_num }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>{{ eachCar.car.owner }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>{{ eachCar.car.vehicle.split(' ')[1] + " " + eachCar.car.vehicle.split(' ')[2] }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>&nbsp;{{ eachCar.car.estimator.split(' ')[0] }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr ng-repeat='eachTech in techList | filter : searchText'>
                        <th align='center'>
                            <br/>
                            {{ eachTech.technician }}
                            <br/>
                            <br/>
                        </th>
                        <td ng-repeat="eachCar in eachTech.cars | filter: searchText" height='100%'>
                            <table width='150' height='100%' ng-dblclick='AddCarToPaintList(eachCar, $parent.$index, $index);'>
                                <tr>
                                    <td align='center'>{{ eachCar.ro_num }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>{{ eachCar.owner }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>{{ eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>&nbsp;{{ eachCar.estimator.split(' ')[0] }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
