<html ng-app='PaintListApp'>
<head>
    <title>Production - Paint List</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/PaintList.js'></script>
</head>
<body ng-controller='PaintListController'>
    <table id='MainTable' border=1>
        <tr>
            <td valign='top'>
                <table id='PaintList' border=1>
                    <tr>
                        <td colspan='2'>
                            Sergio's List
                        </td>
                    </tr>
                    <tr ng-repeat='eachCar in paintList'>
                        <td>
                            <table width='150' height='100%'>
                                <tr>
                                    <td align='center'>{{ eachCar.car.ro_num }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>{{ eachCar.car.owner }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>{{ eachCar.car.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>&nbsp;{{ eachCar.car.estimator.split(' ')[0] }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table id='TechList' border=1>
                    <tr ng-repeat='eachTech in techList | filter : searchText'>
                        <th align='center'>
                            {{ eachTech.technician }}
                        </th>
                        <td ng-repeat="eachCar in eachTech.cars | filter: searchText" height='100%'>
                            <table width='150' height='100%' ng-click='AddCarToPaintList(eachCar, $index);'>
                                <tr>
                                    <td align='center'>{{ eachCar.ro_num }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>{{ eachCar.owner }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>{{ eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}</td>
                                </tr>
                                <tr>
                                    <td align='center'>&nbsp;{{ eachCar.estimator.split(' ')[0] }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
