<html ng-app='PartsSearchApp'>
<head>
    <title>Parts Search</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/Parts_Search.js'></script>
    <script src='./scripts/UtilityFunctions.js'></script>
    <link rel='stylesheet' href="./styles/Parts.css" />
</head>
<body ng-controller='PartsSearchController'>

    <table align='center' width='90%'>
        <tr>
            <td align='left'>
                Search: <input type='text' ng-model='searchText' />
            </td>
            <td align='right'>
                Filter by:
                <select ng-model='status'>
                    <option value=''>All</option>
                    <option value='partsComplete'>Received</option>
                    <option value='waitingForParts'>Ordered</option>
                    <option value='noParts'>Not Ordered</option>
                </select>
            </td>
        </tr>
    </table>

    <table align='center' width='90%' border=1>
        <tr>
            <th ng-click='SortParts("ro_num");'>
                RO
            </th>
            <th ng-click='SortParts("part_number");'>
                Part No.
            </th>
            <th ng-click='SortParts("part_description");'>
                Part Description
            </th>
            <th ng-click='SortParts("vendor_name");'>
                Vendor
            </th>
            <th ng-click='SortParts("ro_quantity");'>
                RO Qty
            </th>
            <th ng-click='SortParts("ordered_quantity");'>
                Ordered
            </th>
            <th ng-click='SortParts("order_date");'>
                Date
            </th>
            <th ng-click='SortParts("received_quantity");'>
                Received
            </th>
            <th ng-click='SortParts("invoice_date");'>
                Date
            </th>
            <th ng-click='SortParts("returned_quantity");'>
                Returned
            </th>
        </tr>
        <tr ng-repeat='eachPart in allParts | filter: searchText | PartsByStatus : status | orderBy: sortFld'
            ng-class="PartStatus(eachPart);">
            <td>
                <a href="Car_View.html?roNum={{ eachPart.ro_num }}" target="CarStatus">
                    {{ eachPart.ro_num }}
                </a>
            </td>
            <td align='center'>
                {{ eachPart.part_number }}
            </td>
            <td>
                {{ eachPart.part_description }}
            </td>
            <td align='center'>
                {{ eachPart.vendor_name }}
            </td>
            <td align='center'>
                {{ eachPart.ro_quantity }}
            </td>
            <td align='center'>
                {{ eachPart.ordered_quantity }}
            </td>
            <td>
                {{ eachPart.order_date }}
            </td>
            <td align='center'>
                {{ eachPart.received_quantity }}
            </td>
            <td align='center'>
                {{ eachPart.invoice_date }}
            </td>
            <td align='center'>
                {{ eachPart.returned_quantity }}
            </td>
        </tr>
    </table>
</body>
</html>
