<table align='center'>
    <tr>
        <td colspan='8' align='center'>
            Search: <input type='text' ng-model='searchText'/>
            &nbsp; <input type='button' value='Add Entry' ng-click='AddEntry("new");'>
        </td>
    </tr>
</table>

<table border='1' align='center'>
    <caption>Parts Received</caption>
    <tr>
        <th>RO no.</th>
        <th>Customer</th>
        <th>Vehicle</th>
        <th>Location</th>
        <th>Technician</th>
        <th>Date</th>
        <th>Vendor</th>
        <th>Notes</th>
    </tr>
    <tr ng-repeat='eachPart in receivedParts | orderBy: sortField : sortDescend | filter : searchText' >
        <td>{{ eachPart.RONum }}</td>
        <td>{{ eachPart.Customer }}</td>
        <td>{{ eachPart.Vehicle }}</td>
        <td>{{ eachPart.Location }}</td>
        <td>{{ eachPart.Technician }}</td>
        <td align='center'>{{ eachPart.ReceiveDate | date:'short' }}</td>
        <td align='center'>{{ eachPart.Vendor }}</td>
        <td align='center'>{{ eachPart.Notes }}</td>
    </tr>
</table>
