<table  ng-controller='PriorityCarController'
        width='100%'
        align='center'
        border=0
        ng-dblclick='DoubleClicked("Car_View.html?roNum=" + eachCar.ro_num + "&locationID=" + eachCar.locationID)'>
<tr>
    <td rowspan='2' valign='middle' ng-hide='$index == 0'>
        <a ng-click='MovePriority(eachCar, -1);' href='' class='arrow'>
            &#x2190;
        </a>
    </td>
    <td align='center'>
        <a ng-click='' href='' class='arrow' ng-hide='true'>
            &#x2191;
        </a>
    </td>
    <td rowspan='2' valign='middle' ng-hide='$index == (priorityCars.length - 1)'>
        <a ng-click='MovePriority(eachCar, 1);' href='' class='arrow' ng-hide='eachCar.stageID == (stages.length - 1)'>
            &#x2192;
        </a>
    </td>
</tr>
<tr>
    <td>
        <div ng-include='"Car.html"'></div>
    </td>
</tr>
<tr>
    <td></td>
    <td align='center'>
        <a ng-click='RemoveFromQueue(eachCar);' href='' ng-show='tech > ""' class='arrow'>
            &#x2193;
        </a>
    </td>
    <td></td>
</tr>
</table>
