<html ng-app='prodModule'>
<head>
    <title>Parts Status</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/Production.js'></script>
    <script src='./scripts/Estimator_View.js'></script>
    <script src='./scripts/Technician_View.js'></script>
    <link rel="stylesheet" href="./styles/Parts.css">
</head>
<body ng-controller='prodController'>
    <table id='Menu' width='100%' border=0>
        <tr>
            <th align='right'>
                View by:
            </th>
            <th>
                Estimator <input type='radio' ng-model="productionView" value="Estimator_View.html" />
            </th>
            <th>
                Technician <input type='radio' ng-model="productionView" value="Technician_View.html" />
            </th>
        </tr>
        <tr>
            <td align='left'>
                <a href='Part_Search.html' target='PartSearch'>Part Search</a>
            </td>
            <td align='right'>
                Search:
            </td>
            <td align='left'>
                <input type='text' ng-model='searchText'>
                &nbsp;<input type='button' value='Clear' ng-click='searchText = ""'>
            </td>
        </tr>
    </table>
    <div ng-include=productionView></div>
</body>
</html>
