<html ng-app='prodModule'>
<head>
    <title>Production Board</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/Production.js'></script>
    <script src='./scripts/Estimator_View.js'></script>
    <script src='./scripts/Technician_View.js'></script>
    <script src='./scripts/Car_View.js'></script>
</head>
<body ng-controller='prodController'>
    <table id='Menu' width='100%'>
        <tr>
            <th width='20%'>
                <input type='button' value='Estimators' ng-click="productionView = 'Estimator_View.html'" />
            </th>
            <th width='20%'>
                <input type='button' value='Technicians' ng-click="productionView = 'Technician_View.html'" />
            </th>
        </tr>
        <tr>
            <td align='right'>Search:</td>
            <td align='left'><input type='text' ng-model='searchText'></td>
        </tr>
    </table>
    <div ng-include=productionView></div>
</body>
</html>
