<div ng-controller='prodController'>
    <table id='Menu' width='100%' border=0>
        <caption>
            <h3>Production Schedule</h3>
        </caption>
        <tr>
            <td align='left' width='25%'>
                View by:

                <b>Estimators</b>
                    <input type='radio'
                            ng-model="productionView"
                            value="Estimator_View.html" /> &nbsp;

                <b>Technicians</b>
                    <input type='radio'
                            ng-model="productionView"
                            value="Technician_View.html" />
            </td>
            <td align='center' width='25%'>
                Search:
                <input type='text' ng-model='searchText'>
                &nbsp;<input type='button' value='Clear' ng-click='searchText = ""'>
            </td>
            <td ng-show='productionView == "Estimator_View.html"'>
                Estimator:  <select ng-model='estim'>
                                <option value=''>All Estimators</option>
                                <option value='Kevin'>Kevin</option>
                                <option value='Ray'>Ray</option>
                                <option value='Tony'>Tony</option>
                                <option value='LANCE'>LANCE</option>
                            </select>
            </td>
            <td ng-show='productionView == "Technician_View.html"'>
                Technician:  <select ng-model='tech'>
                                <option value=''>All Techs</option>
                                <option value='JERRY'>JERRY</option>
                                <option value='NACHO'>NACHO</option>
                                <option value='JOSE'>JOSE</option>
                            </select>
            </td>
            <td width='25%' align='right'>
                <div ng-show='productionView == "Estimator_View.html"'>
                    <input type='radio' ng-model='carsInOut' value='all'>
                        All Cars
                    </input>
                    <input type='radio' ng-model='carsInOut' value='inShop'>
                        Cars In Shop
                    </input>
                    <input type='radio' ng-model='carsInOut' value='preOrder'>
                        Pre-order
                    </input>
                </div>
            </td>
            <td>
                <input type='button' ng-class='DueButtonClass' value='{{ dueMode }}' ng-click="SortCarsDue('scheduled_out');">
            </td>
            <td align='right'>
                <input type='button' ng-class='buttonClass' value='{{ sortMode }}' ng-click="SortCars('parts_percent');">
            </td>
        </tr>
    </table>
    <div ng-include='productionView'></div>
</div>
