<html ng-app="ReturnFormsApp">
<head>
    <title>Return Forms</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/Return_Forms.js'></script>
    <script src='./scripts/UtilityFunctions.js'></script>
    <link rel="stylesheet" href="./styles/Parts.css">

</head>
<body ng-controller="ReturnFormsCtrlr">

    <table align='center' valign='top' width='50%' border=1>
        <caption>
            <br/>
            <u><b>
                Signed forms
            </b></u>
            <br/>
            <br/>
            Search: <input type='text' placeholder="Any Text" ng-model='searchText'>
            <br/>
            <br/>
        </caption>
        <thead>
            <tr class='heading'>
                <th ng-click="SortParts('ro_num');">
                    RO
                </th>
                <th ng-click="SortParts('return_num');">
                    Return no.
                </th>
                <th>
                    Form
                </th>
                <th ng-click="SortParts('owner');">
                    Owner
                </th>
                <th ng-click="SortParts('vehicle');">
                    Vehicle
                </th>
                <th ng-click="SortParts('vendor');">
                    Vendor
                </th>
                <th ng-click="SortParts('pickup_date');">
                    Pickup<br/>Date
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='eachReturn in pendingReturns | orderBy: sortField | filter: searchText' ng-show='eachReturn.return_form > ""'>
                <td align='center'>
                    {{ eachReturn.ro_num }}
                </td>
                <td align='center'>
                    {{ eachReturn.return_num }}
                </td>
                <td align='center'>
                    <a href="./images/return_forms/{{ eachReturn.return_form }}" target='returnForm'>
                        Image
                    </a>
                </td>
                <td align='center'>
                    {{ eachReturn.owner }}
                </td>
                <td align='center'>
                    {{ eachReturn.vehicle.split(' ')[1] + " " + eachReturn.vehicle.split(' ')[2] }}
                </td>
                <td align='center'>
                    {{ eachReturn.vendor }}
                </td>
                <td align='center'>
                    {{ eachReturn.pickup_date }}
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
