<html ng-app="SampleApp">
<head>
    <title>Sample Page</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/sample.js'></script>
</head>
<body ng-controller='SampleCtlr'>

    <table border=1>
        <tr>
            <th>Check-In/Pre-scan</th>
            <th>Disassembly</th>
            <th>Repair Plan</th>
            <th>Waiting for Approval</th>
            <th>Waiting for Parts</th>
            <th>Body</th>
            <th>Primer</th>
            <th>Paint</th>
            <th>Delay</th>
            <th>Reassembly</th>
            <th>Sublet</th>
            <th>Detail</th>
            <th>Final QC/Post Scan</th>
            <th>Ready for Delivery</th>
        </tr>
        <tr>
            <td valign='top'>
                <table border="1" id='CheckInPreScan'>
                <tr ng-repeat='eachCar in cars[0]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[1]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[2]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[3]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[4]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[5]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[6]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[7]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[8]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[9]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[10]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[11]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[12]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in cars[13]'>
                    <td>
                        <table>
                        <tr>
                            <td>
                                {{ eachCar.ro_num }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.owner }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.vehicle }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.color }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.technician }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.estimator }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ eachCar.stage }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
    </table>

    <br>
    <!-- input type='file' id="photos" name="photos[]" accept='image/*' multiple='multiple'>Camera</input -->
</body>
</html>
