<!DOCTYPE html>
<link rel="shortcut icon" href="#" />
<html ng-app="sampleModule">
<head>
    <title>Sample Page</title>
    <script src="scripts/angularjs.js"></script>
    <script src="scripts/allMakes.js"></script>
    <script src="scripts/Sample.js"></script>
</head>
<body ng-controller="sampleController">
    {{ 9/4 }}
    Make:&nbsp;<select ng-model='car_make'>
                    <option ng-repeat='eachMake in allMakes | filter: filterMakes' value="eachMake.Mfr_Name">{{ eachMake.Mfr_CommonName }}</ooption>
                </select>
    <br/>
    Model:&nbsp;<select>
                    <option value="Model1">Model1</option>
                </select>
</body>
</html>
