<table  ng-controller='StageCarController'
        width='100%'
        align='center'
        border=0
        ng-dblclick='DoubleClicked("Car_View.html?roNum=" + eachCar.ro_num + "&locationID=" + eachCar.locationID)'>
<tr>
    <td rowspan='2' valign='middle'>
        <a ng-click='MoveStage(eachCar, -1);' href='' class='arrow' ng-hide='eachCar.stageID == 0'>
            &#x2190;
        </a>
    </td>
    <td align='center'>
        <a href='' class='arrow' ng-click='PlaceInQueue(eachCar, $index);' ng-show='tech > ""'>
            &#x2191;
        </a>
    </td>
    <td rowspan='2' valign='middle'>
        <a ng-click='MoveStage(eachCar, 1);' href='' class='arrow' ng-hide='eachCar.stageID == (stages.length - 1)'>
            &#x2192;
        </a>
    </td>
</tr>
<tr>
    <td>
        <div ng-include='"Car.html"'></div>
    </td>
</tr>
<tr>
    <td></td>
    <td align='center'>
        <a ng-click='' href='' ng-hide='$index === $index' class='arrow'>
            &#x2193;
        </a>
    </td>
    <td></td>
</tr>
</table>
