<table width='100%' align='center' border=0 ng-dblclick='DoubleClicked("Car_View.html?roNum=" + eachCar.ro_num + "&locationID=" + eachCar.locationID)'>
<tr>
    <td rowspan='7' valign='middle'>
        <a ng-click='MoveStage(eachCar.ro_num, eachCar.loc_ID, -1);' href='' class='arrow' ng-hide='eachCar.stageID == 0'>
            &#x2190;
        </a>
    </td>
    <td align='center'>
        <a ng-click='' href='' class='arrow' ng-hide='$index == 0'>
            &#x2191;
        </a>
    </td>
    <td rowspan='7' valign='middle'>
        <a ng-click='MoveStage(eachCar.ro_num, eachCar.loc_ID, 1);' href='' class='arrow' ng-hide='eachCar.stageID == 13'>
            &#x2192;
        </a>
    </td>
</tr>
<tr>
    <td align='center'>
        {{  eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2]  }}
    </td>
</tr>
<tr>
    <td align='center'>
        {{ eachCar.owner }}
    </td>
</tr>
<tr>
    <td align='center'>
        {{ eachCar.vehicle_color }}
    </td>
</tr>
<tr>
    <td align='center'>
        {{ eachCar.ro_num }}
    </td>
</tr>
<tr>
    <td align='center'>
        &nbsp;{{ eachCar.technician }}
    </td>
</tr>
<tr>
    <td align='center'>
        &nbsp;{{ eachCar.estimator }}
    </td>
</tr>
<tr>
    <td></td>
    <td align='center'>
        <a ng-click='' href='' ng-hide='$index == (lastCarIndex - 1)' class='arrow'>
            &#x2193;
        </a>
    </td>
    <td></td>
</tr>
</table>
