<html ng-app="StageApp">
<head>
    <title>Production Stage</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/Stage.js'></script>
    <script src='./scripts/UtilityFunctions.js'></script>
    <link rel='stylesheet' href="./styles/Parts.css" />
</head>
<body ng-controller='StageCtrlr'>

    <table border=1>
        <tr>
            <th>Check-In/Pre-scan</th>
            <th>Disassembly</th>
            <th>Repair<br>Plan</th>
            <th>Awaiting<br>Approval</th>
            <th>Waiting<br>for Parts</th>
            <th>Body</th>
            <th>Primer</th>
            <th>Paint</th>
            <th>Delay</th>
            <th>Reassembly</th>
            <th>Sublet</th>
            <th>Detail</th>
            <th>Final QC/<br>Post Scan</th>
            <th>Ready for<br>Delivery</th>
        </tr>
        <tr>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='CheckInPreScan'>
                <tr ng-repeat='eachCar in production_stage[0].cars' ng-init='lastCarIndex = cars[0].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[1].cars' ng-init='lastCarIndex = cars[1].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[2].cars' ng-init='lastCarIndex = cars[2].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[3].cars' ng-init='lastCarIndex = cars[3].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[4].cars' ng-init='lastCarIndex = cars[4].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[5].cars' ng-init='lastCarIndex = cars[5].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[6].cars' ng-init='lastCarIndex = cars[6].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[7].cars' ng-init='lastCarIndex = cars[7].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[8].cars' ng-init='lastCarIndex = cars[8].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[9].cars' ng-init='lastCarIndex = cars[9].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[10].cars' ng-init='lastCarIndex = cars[10].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[11].cars' ng-init='lastCarIndex = cars[11].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[12].cars' ng-init='lastCarIndex = cars[12].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
            <td valign='top' width='{{ colWidth }}%'>
                <table border="1" id='something'>
                <tr ng-repeat='eachCar in production_stage[13].cars' ng-init='lastCarIndex = cars[13].length'>
                    <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar.ro_num, eachCar.locationID);'>
                        <div ng-include='"Stage_Car.html"'>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
    </table>

    <br>
    <!-- input type='file' id="photos" name="photos[]" accept='image/*' multiple='multiple'>Camera</input -->
</body>
</html>
