<html ng-app="StageApp">
<head>
    <title>Production Stage</title>
 
    <script src='./scripts/angularjs.min.js'></script>
    <script src='./scripts/bootstrap.js'></script>
    <script src='./scripts/angular-cookies.js'></script>
 
    <script src='./scripts/Stage.js'></script>
    <script src='./scripts/Stage_Car.js'></script>
    <script src='./scripts/Priority_Car.js'></script>
    <script src='./scripts/Filters.js'></script>
    <script src='./scripts/UtilityFunctions.js'></script>

    <link rel='stylesheet' href="./styles/Parts.css" />
    <link rel='stylesheet' href="./styles/bootstrap.css" />
</head>
<body ng-controller='StageCtrlr' style='font-size: x-small'>
    <br/>
    <table align='center' width='100%' border=0 class="bgLiteGrey">
    <tr ng-show='locID > 0'>
        <td align='left'>
            <input type='button' value='Reset Filters' ng-click='ResetFilters();' class="btn btn-primary"/>
        </td>
        <td align='right'>
            <input type='button' value='Unassigned Cars' ng-click='UnassignedCarsFilter();' ng-class='UC_Class' class="btn btn-warning"/>
        </td>
        <td align='right'>
            <input type='button' value='Switch Colors' ng-click='ChooseBGMode(BackgroundMode);' class="btn btn-danger">
            &nbsp;by:&nbsp;{{ BackgroundMode }}
        </td>
        <td align='right'>
            Last Update: {{ lastUpdate }}
        </td>
    </tr>
    <tr>
        <td colspan="4"><br/></td>
    </tr>
    <tr>
        <td align='center' ng-show='locID > 0' style='color : blue;'>
            <b>Technician:</b>
            <select ng-model='tech' class="form-select">
                <option value=''>All Techs</option>
                <option ng-repeat='eachTech in techList | filter: { locationID: locID }' value='{{ eachTech.name }}'>
                    {{ eachTech.name }}
                </option>
            </select>
        </td>
        <td align='center' ng-show='locID > 0' style='color : red;'>
            <b>Estimator:</b>
            <select ng-model='estim' class="form-select">
                <option value=''>All Estimators</option>
                <option ng-repeat='estimator in estimatorList | filter: { locationID: locID }' value='{{ estimator.name }}'>
                    {{ estimator.name }}
                </option>
            </select>
        </td>
        <td align='center' ng-show='locID > 0'>
            <b>Search:</b>&nbsp;<input type='text' ng-model='searchText'/>&nbsp;
            <input type='button' value='Clear' ng-click='searchText = ""' class="btn btn-success">
        </td>
        <td align='right'>
            <div ng-hide='locID > 0' style='color : red;'>
                <blink><b>Select a shop</b></blink>
            </div>
            Shop:
            <select ng-model='locID' ng-change='SwitchShops(locID);' class="form-select">
                <option value=1 selected>CarStar City Auto</option>
                <option value=2>CarStar Simi Valley</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="4"><br/></td>
    </tr>
    </table>

    <table id=id="tblPriority" border='1' ng-show='tech > ""'>
    <tr>
        <td align='center' ng-click='PlaceInQueue(carPicked);'>
            <img ng-src='./images/{{ tech.toUpperCase() }}.jpg' style="max-width: 100px; max-height: 100px"  alt="{{ eachCar.Technician }}">
            <br/>
            <b>{{ tech }}</b>
            <br/>
        </td>
        <td ng-repeat='eachCar in priorityCars | filter : { locationID : locID, technician : tech }'
            ng-class='eachCar.borderColor'
            ng-click='ChangeBorder(eachCar);'
            width='150'>
            <div ng-include='"Priority_Car.html"' ng-class='Set_BG_Class(BackgroundMode, eachCar);'></div>
        </td>
    </tr>
    </table>

    <table class="bgLiteGrey">
    <tr class='heading'>
        <td ng-repeat='stage in stages' 
            width='{{ colWidth }}%'  
            class="whiteBorders" 
            ng-click='MoveCar(stage.order_no);' 
            align="center">
            <b>
                {{ stage.description  }}
            </b>
        </td>
    </tr>
    <tr>
        <td valign='top' ng-repeat='stage in stages' ng-click='MoveCar(stage.order_no);' class="thinBorders">
            <table width='100%'>
            <tr ng-init='lastCarIndex = production_stage[stage.order_no].cars.length - 1'
                ng-repeat='eachCar in production_stage[stage.order_no].cars
                            | filter: { locationID: locID }
                            | filter: { technician: tech}
                            | filter: { estimator: estim }
                            | filter : searchText
                            | FilterUnassignedCars : filterOn'>
                <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar);' class="thinBorders" role="button" class="p-2 border">
                    <div ng-include='"Stage_Car.html"'
                         ng-class='Set_BG_Class(BackgroundMode, eachCar);'>
                    </div>
                </td>
            </tr>
            </table>
        </td>
    </tr>
    </table>
    <br/>
</body>
</html>
