
<table id='TechnicianCars' border=1 width='100%' ng-controller="TechnicianViewController">

    <tr ng-repeat='eachTech in technicians | filter : searchText'>
        <th align='center'>
            <img ng-src='./images/{{ eachTech.technician }}.jpg' style="max-width: 100px; max-height: 100px">
            {{ eachTech.technician }}
        </th>
        <td ng-repeat="eachCar in eachTech.cars | orderBy : sortCars | filter: searchText" height='100%' ng-class='CheckParts(eachCar);' align='center'>
            <a href="Car_View.html?roNum={{ eachCar.ro_num }}" target="CarStatus">
            <table width='150' height='100%''>
                <tr>
                    <td align='center'>
                        <u>{{ eachCar.owner }}</u>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        {{ eachCar.vehicle.split(' ')[1] + " " + eachCar.vehicle.split(' ')[2] }}
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        <i>[ {{ eachCar.vehicle_color }} ]</i>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        &nbsp;{{ eachCar.estimator.split(' ')[0] }}
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        ({{ eachCar.ro_num }})
                    </td>
                </tr>
                <tr ng-show='eachCar.parts_percent == 100'>
                    <td align='center'>
                        <table align='center' border=1>
                        <tr>
                            <td align='center'>
                                All Parts In
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                <tr ng-hide='eachCar.parts_percent == 100'>
                    <td valign='bottom'>
                        <table height='10' width='100%' border=1  valign='bottom'>
                        <tr>
                            <td class='noParts' align='center' width='33%'>
                                {{ eachCar.parts_unordered }}
                            </td>
                            <td class='waitingForParts' align='center' width='33%'>
                                {{ eachCar.parts_waiting }}
                            </td>
                            <td class='partsComplete' align='center'>
                                {{ eachCar.parts_received }}
                            </td>
                        </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align='center'>
                        Due: {{ eachCar.scheduled_out }}
                    </td>
                </tr>
            </table>
            </a>
        </td>
    </tr>
</table>
