<html ng-app="UnorderedPartsApp">
<head>
    <title>Unordered Parts</title>
    <script src='./scripts/angularjs.js'></script>
    <script src='./scripts/UnorderedParts.js'></script>
</head>
<body ng-controller="UnorderedPartsController">
    <table border=1 width='100%'>
        <tr ng-repeat='estimator in estimators'>
            <td width='5%'>{{ estimator.name }}</td>
            <td width='95%'>
                <table border=1 width='100%'>
                    <tr ng-repeat='eachCar in estimator.cars'>
                        <td>
                            <table width='100%'>
                                <tr>
                                    <th width='100%' align='center'>
                                        {{ eachCar.ro_num }} - {{ eachCar.owner }}
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        ({{ eachCar.vehicle }})
                                    </th>
                                </tr>
                            </table>
                            <table align='center' width='100%' border='1'>
                                <tr>
                                    <td width='20%' align='center'>
                                        Part No.
                                    </td>
                                    <td width='30%' align='center'>
                                        Part Description
                                    </td>
                                    <td width='10%' align='center'>
                                        Line No.
                                    </td>
                                    <td width='10%' align='center'>
                                        Required
                                    </td>
                                    <td width='10%' align='center'>
                                        Ordered
                                    </td>
                                    <td width='10%' align='center'>
                                        Received
                                    </td>
                                    <td align='center'>
                                        Order Date
                                    </td>
                                </tr>
                            </table>
                            <table width='100%' border='1'>
                                <tr ng-repeat='eachPart in eachCar.parts'>
                                    <td width='20%' align='center'>
                                        {{ eachPart.part_number }}
                                    </td>
                                    <td width='30%'>
                                        {{ eachPart.part_description }}
                                    </td>
                                    <td width='10%' align='center'>
                                        {{ eachPart.line_num }}
                                    </td>
                                    <td width='10%' align='center'>
                                        {{ eachPart.ro_qty }}
                                    </td>
                                    <td width='10%' align='center'>
                                        {{ eachPart.ordered_qty }}
                                    </td>
                                    <td width='10%' align='center'>
                                        {{ eachPart.received_qty }}
                                    </td>
                                    <td>
                                        {{ eachPart.order_date }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
