<div ng-controller='UnorderedPartsController'>

<table width='100%'>
<tr>
    <td>
    </td>
</tr>
</table>

<table border=1>
    <!-- tr>
        <th>Estimator</th>
        <th>R.O.</th>
        <th>Owner</th>
        <th>Vehicle</th>
        <th>Part No.</th>
        <th>Description</th>
        <th>Line</th>
        <th>RO Qty</th>
        <th>Ordered Qty</th>
        <th>Received Qty</th>
        <th>Order Date</th>
    </tr -->

    <tr ng-repeat='est in estimators'>
        <td>
            {{ est.name }}
        </td>
        <td>
            <table>
                <tr ng-repeat='eachPart in est.parts'>
                    <td>{{ eachPart.ro_num }}</td>
                    <td>{{ eachPart.owner }}</td>
                    <td>{{ eachPart.vehicle }}</td>
                    <td>{{ eachPart.part_number }}</td>
                    <td>{{ eachPart.part_description }}</td>
                    <td>{{ eachPart.line_num }}</td>
                    <td>{{ eachPart.ro_qty }}</td>
                    <td>{{ eachPart.ordered_qty }}</td>
                    <td>{{ eachPart.received_qty }}</td>
                    <td>{{ eachPart.order_date }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</div>
