<html ng-app="Map_Shop_Names_Page">

<head>
    <title>Map Shop Names</title>
    <script src='../../scripts/angularjs.js'></script>
    <script src='../../scripts/admin/Map_Shop_Names.js'></script>
    <link rel="stylesheet" href="../../styles/Parts.css">
</head>

<body ng-controller='Map_Shop_Names_Ctrlr'>

    <pre>db_shops {{ db_shops }}</pre>
    <pre>csv_shops: {{ csv_shops }}</pre>
    <pre>shopList: {{ shopList }}</pre>
    
    <br/>
    <form action="{{ FormPostURL('../../php/admin/Map_Shop_Names.php'); }}" method='POST' name="ShopNames" enctype='multipart/form-data'>

        Selected Shops: {{ shopList }}
        
        <input type="hidden" name="dbShops" ng-value="toJson(db_shops)">
        <input type="hidden" name="shopList" ng-value="toJson(shopList)" />
        <input type="hidden" name="csvShops" ng-value="toJson(csv_shops)" />

        <table border=1 align="center">
        <caption>
            Map Shop Names
        </caption>
        <thead>
            <tr>
                <th>
                    Shop Name on File
                </th>
                <th>
                    Shop Names in the Upload
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='dbShop in shopList'>
                <td style="padding: 0px 30px 0px 30px;">
                    {{ db_shops[$index] }}
                </td>
                <td align='left' style="padding: 0px 40px 15px 0px;" ng-class="(shopList[$index] < 0) ? 'red' : ''">
                    <br/>
                    <ul style="list-style-type: none;">
                        <li ng-repeat='csvShop in csv_shops'>
                            <input  type="radio"
                                    name="shopList_{{ $parent.$index }}"
                                    ng-model="shopList[$parent.$index]" 
                                    ng-value='$index'
                                    ng-click="uncheck_shop_in_other_groups($parent.$index, $index);"
                                    required /> 
                                {{ csvShop }}
                        </li>
                    </ul>
                </td>
            </tr>
        <tr>
            <td colspan="2" align="center">
                <br/><br/>
                <input type='submit' value='Submit' />
            </td>
        </tr>
        </tbody>
        </table>

    </form>
</body>
</html>
