<div ng-controller='StageCtrlr' style='font-size: small'>
    
    <table align='center' width='100%' border=0 class="bgLiteGrey">
    <tr ng-show='locationID > 0'>
        <td align='left'>
            <input type='button' value='Reset Filters' ng-click='ResetFilters();' class="btn btn-primary"/>
        </td>
        <td align='right'>
            <input type='button' value='Unassigned Cars' ng-click='UnassignedCarsFilter();' ng-class='UC_Class' class="btn btn-warning"/>
        </td>
        <td align='right'>
            <input type='button' value='Switch Colors' ng-click='ChooseBGMode(BackgroundMode);' class="btn btn-danger">
            &nbsp;by:&nbsp;{{ BackgroundMode }}
        </td>
    </tr>
    <tr>
        <td colspan="3"><br/></td>
    </tr>
    <tr>
        <td align='center' ng-show='locationID > 0' style='color : blue;'>
            <b>Filter by Technician:</b>
            <select ng-model='tech' class="form-select">
                <option value=''>All Techs</option>
                <option ng-repeat='eachTech in techList' value='{{ eachTech.name }}'>
                    {{ eachTech.name }}
                </option>
            </select>
        </td>
        <td align='center' ng-show='locationID > 0' style='color : red;'>
            <b>Filter by Estimator:</b>
            <select ng-model='estim' class="form-select">
                <option value=''>All Estimators</option>
                <option ng-repeat='estimator in estimatorList' value='{{ estimator.name }}'>
                    {{ estimator.name }}
                </option>
            </select>
        </td>
        <td align='center' ng-show='locationID > 0'>
            <b>Search:</b>&nbsp;<input type='text' ng-model='searchText'/>&nbsp;
            <input type='button' value='Clear' ng-click='searchText = ""' class="btn btn-success">
        </td>
    </tr>
    <tr>
        <td colspan="3"><br/></td>
    </tr>
    </table>

    <table id=id="tblPriority" border='1' ng-show='tech > ""'>
    <tr>
        <td align='center' ng-click='PlaceInQueue(carPicked);'>
            <img ng-src='./images/{{ tech.toUpperCase() }}.jpg' style="max-width: 100px; max-height: 100px"  alt="{{ eachCar.Technician }}">
            <br/>
            <b>{{ tech }}</b>
            <br/>
        </td>
        <td ng-repeat='eachCar in priorityCars | filter : { locID : locationID, technician : tech }'
            ng-class='eachCar.borderColor'
            ng-click='ChangeBorder(eachCar);'
            width='150'>
            <div ng-include='"./html/Priority_Car.html"' ng-class='Set_BG_Class(BackgroundMode, eachCar);'></div>
        </td>
    </tr>
    </table>

    <div class="scrollable_table" style="height: 100%;">
        <table class="bgLiteGrey tblHeader">
        <thead>
            <tr class='heading'>
                <td ng-repeat='stage in stages' 
                    width='{{ colWidth }}%'  
                    class="whiteBorders" 
                    ng-click='MoveCar(stage.order_no);' 
                    align="center">
                    <b>
                        {{ stage.description  }}
                    </b>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td valign='top' ng-repeat='stage in stages' ng-click='MoveCar(stage.order_no);' class="thinBorders">
                    <table width='100%'>
                    <tr ng-init='lastCarIndex = production_stage[stage.order_no].cars.length - 1'
                        ng-repeat='eachCar in production_stage[stage.order_no].cars
                                    | filter: { locID: locationID }
                                    | filter: { technician: tech}
                                    | filter: { estimator: estim }
                                    | filter : searchText
                                    | FilterUnassignedCars : filterOn'>
                        <td ng-class='eachCar.borderColor' ng-click='ChangeBorder(eachCar);' class="thinBorders" role="button" class="p-2 border">
                            <div ng-include='"./html/Stage_Car.html"'
                                ng-class='Set_BG_Class(BackgroundMode, eachCar);'>
                            </div>
                        </td>
                    </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <br/>
</div>
