
.partsComplete{
    background-color: lightgreen;
}

.waitingForParts{
    background-color: yellow;
}

.noParts{
    background-color: pink;
}

.heading{
    background-color: black;
    color: lightblue;
}

.workComplete {
    background-color: lightgreen;
}

.workUnderway {
    background-color: yellow;
}

.workNotStarted {
    background-color: pink;
}

.lightBlue {
    background-color: lightblue;
}

.white {
    background-color: white;
}

.active{
    background-color: white;
    color: black;
}

.inactive{
    background-color: gray;
    color: white
}

.orange{
    background-color: orange;
}
