.platinum{
    background-color: gainsboro;
}

.partsComplete{
    background-color: lightgreen;
}

.waitingForParts{
    background-color: yellow;
}

.noParts{
    background-color: pink;
}

.heading{
    background-color: black;
    color: white;
}

.greenOnWhite{
    background-color: lightgreen;
    color: white;
}

.whiteOnGreen{
    background-color: green;
    color: white;
}

.redOnWhite{
    color: red;
}

.lightGreen {
    background-color: lightgreen;
}

.completed {
    background-color: lightgreen;
}

.underway {
    background-color: yellow;
}

.notStarted {
    background-color: pink;
}

.lightBlue {
    background-color: lightblue;
}

.white {
    background-color: white;
}

.active{
    background-color: white;
    color: black;
}

.inactive{
    background-color: gray;
    color: white
}

.showBorders{
    border: 2px solid black;
}

.orange{
    color: white;
    background-color: orange;
}

.orange:visited{
    color: white;
}

.orange:link{
    color: white;
}

a.arrow{
    text-decoration: none;
}

.red{
    border-color: red;
    border-width:4;
}

.bgLiteGrey{
    background-color: lightgray;
}

.ALLSTATE{  /*  Allstate Insurance */
    background-color: red;
}

.STATE{     /* State Farm */
    background-color: red;
}

.MERCURY{
    background-color: pink;
}

.AUTO{
    background-color: pink;
}

.DEALER{
    background-color: white;
    color : white;
}

.USAA{
    background-color: pink;
}

.OTHER{
    background-color: white;
}

.whiteOnRed{
    background-color: red;
    color: white;
}

.bottomBorderOnly{
    border-bottom-style: groove;
}
