
.partsComplete{
    background-color: lightgreen;
}

.waitingForParts{
    background-color: lightyellow;
}

.noParts{
    background-color: pink;
}

.heading{
    background-color: black;
    color: lightblue;
}
