
.partsComplete{
    background-color: lightgreen;
}

.waitingForParts{
    background-color: yellow;
}

.noParts{
    background-color: pink;
}

.heading{
    background-color: black;
    color: white;
}

.greenOnWhite{
    background-color: black;
    color: lightgreen;
}

.lightGreen {
    background-color: lightgreen;
}

.completed {
    background-color: lightgreen;
}

.underway {
    background-color: yellow;
}

.notStarted {
    background-color: pink;
}

.lightBlue {
    background-color: lightblue;
}

.white {
    background-color: white;
}

.active{
    background-color: white;
    color: black;
}

.inactive{
    background-color: gray;
    color: white
}

.orange{
    color: white;
    background-color: orange;
}

.orange:visited{
    color: white;
}

.orange:link{
    color: white;
}

a.arrow{
    text-decoration: none;
}

.red{
    border-color: red;
    border-width:4;
}

.bgLiteGrey{
    background-color: lightgray;
}
